<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/userLayout}">
<body>
<th:block layout:fragment="content">
    <div style="overflow: hidden;">
        <!-- [myPageHeader] 영역 시작 -->
        <div class="auto d-flex jc-space-bt a-start myPage-wrap">
            <div class="myP-left-menu">
                <header id="topMenu" th:replace="/user/mypage/main :: myPage"></header>
            </div>
            <!-- [myPageHeader] 영역 끝 -->

            <!-- [myPageContent] 영역 시작 -->
            <div class="myP-right-menu">
                <div layout:fragment="userContent"></div>
            </div>
            <!-- [myPageContent] 영역 끝 -->
        </div>
    </div>
</th:block>
</body>
</html>