<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- [head] 영역 시작 -->
<head th:replace="/fragments/head :: headFragment"></head>
<!-- [head] 영역 끝 -->

<body>

    <!-- [header] 영역 시작 -->
    <header id="topMenu" th:replace="/fragments/userMenu :: userMenu"></header>
    <!-- [header] 영역 끝 -->



    <!-- [content] 영역 시작 -->
    <div layout:fragment="content"></div>
    <!-- [content] 영역 끝 -->


</body>
</html>

