<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/adminLayout}">
<head>
    <meta charset="UTF-8"/>
    <title>캠페인 업데이트</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>

    <style>
	div {
	        margin-bottom:10px;
	    }
    .input {
            margin-left: 5px;
            }
	</style>

</head>
<body>
<th:block layout:fragment="content">
    <div id="body" style="overflow:hidden; width:500px;">
        <h2>캠페인 수정 (/admin/campaign/campaign_update_multiple.html)</h2>
        <div id="move_menu_div">
            <select id="move_menu">
                <option value="update" selected>캠페인 수정</option>
                <option value="member">캠페인 명단</option>
                <option value="review">캠페인 리뷰</option>
                <option value="calculate">캠페인 정산</option>
            </select>
        </div>
        <div id="image_form" style="float:left">
            <form name="frm" id="frm" enctype="multipart/form-data" method="post">
                <div><img id="preview_img" src="/displayFile?fullName=/icon/add.png" width="100" height="100"/></div>
                <div>
                    <span><img id="click_img1" class="click_img" num="0" src="/displayFile?fullName=/icon/add.png" width="50" height="50"/></span>
                    <span><img id="click_img2" class="click_img" num="1" src="/displayFile?fullName=/icon/add.png" width="50" height="50"/></span>
                    <span><img id="click_img3" class="click_img" num="2" src="/displayFile?fullName=/icon/add.png" width="50" height="50"/></span>
                    <span><img id="click_img4" class="click_img" num="3" src="/displayFile?fullName=/icon/add.png" width="50" height="50"/></span>
                    <span><img id="click_img5" class="click_img" num="4" src="/displayFile?fullName=/icon/add.png" width="50" height="50"/></span>
                    <input type="file" class="file_img" num="0" name="image1" >
                    <input type="file" class="file_img" num="1" name="image2" >
                    <input type="file" class="file_img" num="2" name="image3" >
                    <input type="file" class="file_img" num="3" name="image4" >
                    <input type="file" class="file_img" num="4" name="image5" >
                </div>
            </form>
            <button id="btn_add_img">이미지 추가</button><input type="file" id="multiple_img" multiple hidden/>
            <button id="console">콘솔</button>
        </div>

        <div id="text_form" style="float:right;">
            <div><span>Title</span><input type="text" name="campaign_title" id="campaign_title" class="input input-h40r w80pro big-text3 ma-t-dot5"/></div>
            <div>
                <span>Brand / Project</span>
                <input type="text" name="brand_name" id="brand_name" class="input input-h40r w100pro big-text3 ma-t-dot5" readonly/>
                <input type="text" name="brand_seq" id="brand_seq" placeholder="brand_seq (나중에 히든처리)" readonly/>
                <button id="btnBrandSearch">검색</button>
            </div>
            <div>
                <span>Country</span>
                <select id="campaign_country">
                    <option value="Singapore">Singapore</option>
                    <option value="Malaysia">Malaysia</option>
                    <option value="Philippines">Philippines</option>
                </select>
            </div>
            <div><span>Original Price</span><input type="text" name="original_price" id="original_price" class="input"/></div>
            <div><span>Discount Price</span><input type="text" name="discount_price" id="discount_price" class="input"/></div>
            <div>
                <span>Type</span>
                <select id="type">
                    <option value="Regular">Regular</option>
                    <option value="Offer">Offer</option>
                    <option value="Voucher">Voucher</option>
                    <option value="None">None</option>
                </select>
            </div>
            <div>
                <span>Need number</span>
                <input type="text" name="need_number" id="need_number" class="input"/>
                <input type="text" id="multiple_number" class="input" readonly placeholder="1.5배수"/>
            </div>
            <div>
                <span>Description</span><br/>
                <textarea id="campaign_description"></textarea>
            </div>
            <div>
                <input type="button" id="btnDelete" value="캠페인 삭제"/>
                <input type="button" id="btnUpdate" value="수정/저장"/>
            </div>
        </div>

        <div id="brand_div" style="float:left;">
            <div>
                <span>브랜드 검색</span>
                <input type="text" id="brand_keyword" placeholder="브랜드를 검색하세요."/>
                <button id="brand_search">검색</button>
                <button id="brand_insert">+추가</button>
            </div>
            <div id="brand_list_div"></div>
            <script id="brand_list_script" type="text/x-handlebar-template">
                {{#each .}}
                <div>
                    <label>
                        <input type="radio" name="brand" brand_seq={{brand_seq}} brand_name={{brand_name}}><span>{{brand_name}}</span>
                    </label>
                </div>
                {{/each}}
            </script>
            <div>
                <button id="brand_add">적용하기</button>
            </div>
        </div>
    </div>

    <!-- Image FileName Hidden Input -->
    <div name="hidden_div">
        <input type="text" id="img1" class="original_img hidden-input" num="0"/>
        <input type="text" id="img2" class="original_img hidden-input" num="1"/>
        <input type="text" id="img3" class="original_img hidden-input" num="2"/>
        <input type="text" id="img4" class="original_img hidden-input" num="3"/>
        <input type="text" id="img5" class="original_img hidden-input" num="4"/>
    </div>

    <script th:inline="javascript">

        /**************************** 시작 스크립트 ****************************/
        var campaign_seq = [[${campaign_seq}]];
        var arrImage = new Array([[${vo.campaign_img1}]], [[${vo.campaign_img2}]], [[${vo.campaign_img3}]], [[${vo.campaign_img4}]], [[${vo.campaign_img5}]]); // db에서 가져온 이미지
        var formData=new FormData();
        var arrDel=new Array();
        var className=".hidden-input";
        getCampaignRead();

        // select box 변경 시 이동
        $("#move_menu").on('change', function (){
            var aim = $(this).val();
            if(aim=="update"){
                location.href="/admin/campaign_update?campaign_seq="+campaign_seq;
            }else if(aim=="member"){
                location.href="/admin/member_in_campaign?campaign_seq="+campaign_seq;
            }else if(aim=="review"){
                location.href="/admin/campaign_review?campaign_seq="+campaign_seq;
            }else if(aim=="calculate"){
                location.href="/admin/campaign_calculate?campaign_seq="+campaign_seq;
            }
        });

        // db에 저장된 이미지 불러와서 뿌려주기
        $(document).ready(function(){
            if(arrImage[0]!=null && arrImage[0]!=""){
                $("#preview_img").attr("src", "/displayFile?fullName=/campaign/"+arrImage[0]);
            }

            $(".click_img").each(function(){
                var idx = $(this).attr("num");
                var pSpan = $(this).parent();

                for(i=0; i<$(".click_img").length; i++){
                    if(arrImage[i]!=null && arrImage[i]!=""){
                        if(idx==i){
                            $(this).attr("src", "/displayFile?fullName=/campaign/"+arrImage[i]);
                            $(this).attr("fileName", arrImage[i]);
                            $(this).addClass("yesImg");
                            $(this).removeClass("noImg");
                            pSpan.append("<span class='del'>x</span>");
                        }
                    }else{
                        if(idx==i){
                            $(this).attr("src", "/displayFile?fullName=/icon/add.png");
                            $(this).addClass("noImg");
                            $(this).removeClass("yesImg");
                        }
                    }
                }
            });

            $("#img1").val($("#click_img1").attr("fileName"));
            $("#img2").val($("#click_img2").attr("fileName"));
            $("#img3").val($("#click_img3").attr("fileName"));
            $("#img4").val($("#click_img4").attr("fileName"));
            $("#img5").val($("#click_img5").attr("fileName"));

            hiddenInputStat(className);
        });

        function hiddenInputStat(className){
            $(className).each(function(){
                if($(this).val()!=""){
                    $(this).addClass("yesVal");
                    $(this).removeClass("noVal");
                }else{
                    $(this).addClass("noVal");
                    $(this).removeClass("yesVal");
                }
            });
        }

        /**************************** 캠페인 스크립트 ****************************/

        // 저장 버튼 클릭 시
        $("#btnUpdate").on("click", function(){
            var campaign_title = $("#campaign_title").val();
            var campaign_country = $("#campaign_country").val();
            var brand_seq = $("#brand_seq").val();
            var original_price = $("#original_price").val();
            var discount_price = $("#discount_price").val();
            var type = $("#type").val();
            var need_number = $("#need_number").val();
            var multiple_number = $("#multiple_number").val();
            var campaign_description = $("#campaign_description").val();

            if (campaign_title == "") {
                alert("캠페인 제목을 입력하세요");
                return;
            }else if(campaign_country == "") {
                alert("국가를 선택하세요");
                return;
            }else if(original_price == "") {
                alert("원가를 입력하세요");
                return;
            }else if(discount_price == "") {
                alert("할인가격을 입력하세요");
                return;
            }else if(need_number == "") {
                alert("모집 인원을 입력하세요");
                return;
            }

            var file1 = $("#click_img1").attr("fileName");
            var file2 = $("#click_img2").attr("fileName");
            var file3 = $("#click_img3").attr("fileName");
            var file4 = $("#click_img4").attr("fileName");
            var file5 = $("#click_img5").attr("fileName");

            if(file1==undefined || $("#img1").val()!=file1) {
                //alert("1");
                deleteImage("/campaign/"+$("#img1").val());
                $("#img1").val("");
            }
            if(file2==undefined || $("#img2").val()!=file2) {
                //alert("2");
                deleteImage("/campaign/"+$("#img2").val());
                $("#img2").val("");
            }
            if(file3==undefined || $("#img3").val()!=file3) {
                // alert("3");
                deleteImage("/campaign/"+$("#img3").val());
                $("#img3").val("");
            }
            if(file4==undefined || $("#img4").val()!=file4) {
                // alert("4");
                deleteImage("/campaign/"+$("#img4").val());
                $("#img4").val("");
            }
            if(file5==undefined || $("#img5").val()!=file5) {
                //alert("5");
                deleteImage("/campaign/"+$("#img5").val());
                $("#img5").val("");
            }
            hiddenInputStat(className);
            formData.append("dir", "campaign");

            uploadImage();

            var image1 = $("#img1").val();
            var image2 = $("#img2").val();
            var image3 = $("#img3").val();
            var image4 = $("#img4").val();
            var image5 = $("#img5").val();
            console.log(image1);
            console.log(image2);
            console.log(image3);
            console.log(image4);
            console.log(image5);

            console.log(arrDel);
            //return;
            $.ajax({
                type:"put",
                url:"/admin/api/campaign/update",
                traditional:true,
                data:{
                    "campaign_seq":campaign_seq,
                    "campaign_title":campaign_title,
                    "brand_seq":brand_seq,
                    "campaign_country":campaign_country,
                    "original_price":original_price,
                    "discount_price":discount_price,
                    "need_number":need_number,
                    "multiple_number":multiple_number,
                    "type":type,
                    "campaign_description":campaign_description,
                    "campaign_img1":image1,
                    "campaign_img2":image2,
                    "campaign_img3":image3,
                    "campaign_img4":image4,
                    "campaign_img5":image5,
                    "arrDel":arrDel
                },
                async:false,
                success:function(){
                    alert("수정");
                    location.reload();
                }
            });
        });

        // 1.5배수 표시
        $("#need_number").on("keyup", function(){
            var multiple = Math.ceil($(this).val() * 1.5);
            if($(this).val()==""){
                $("#multiple_number").val("");
            }else{
                $("#multiple_number").val(multiple);
            }
        });

        // db (Campaign) 정보 불러오기
        function getCampaignRead(){
            $.ajax({
                type: "get",
                url: "/common/api/campaign/read",
                data:
                    {
                        "campaign_seq":campaign_seq
                    },
                success:function(result){
                    var cvo=result.cvo;
                    $("#campaign_title").val(cvo.campaign_title);
                    $("#campaign_country").val(cvo.campaign_country);
                    $("#brand_seq").val(cvo.brand_seq);
                    $("#brand_name").val(cvo.brand_name);
                    $("#original_price").val(cvo.original_price);
                    $("#discount_price").val(cvo.discount_price);
                    $("#type").val(cvo.type);
                    $("#need_number").val(cvo.need_number);
                    $("#multiple_number").val(cvo.multiple_number);
                    $("#campaign_description").val(cvo.campaign_description);
                }
            });
        }

        // 캠페인 삭제
        $("#btnDelete").on("click", function(){
            if(!confirm("캠페인을 삭제 하시겠습니까?")) return;
            $.ajax({
                type:"delete",
                url:"/admin/api/campaign/delete",
                data:{"campaign_seq":campaign_seq},
                success:function (data){
                location.href="/admin";
                },
                error:function (){
                  alert("delete error");
                }
            });
        });

        /**************************** 멀티플 이미지 업로드 테스트용 스크립트 ****************************/

        $("#btn_add_img").on("click", function(e){
            e.preventDefault();
            $("#multiple_img").click();
        });
        var files;
        $("#multiple_img").on("change", function(){
            var noImgCnt=$(".noImg").length;
            console.log(noImgCnt);

            //이미지 첨부 개수 제한
            var x = document.getElementById("multiple_img");
            var txt = "";
            if ('files' in x) {
                if (x.files.length==0) {

                }else if (x.files.length > noImgCnt) {
                    alert("현재 이미지를 첨부할 수 있는 빈칸이 "+ noImgCnt + "개밖에 없습니다.");
                    document.getElementById("multiple_img").value = "";
                    return;
                }else { //이미지가 첨부 되었을 때
                    files=Array.from($("#multiple_img")[0].files); // Array.from 메소드 사용해서 배열화 시키기
                    var html = "";
                    var cnt = 0;
                    $.each(files, function(index, file){
                        $(".noImg").each(function(){
                            var num = $(this).attr("num");
                            var strImage = "image"+num;
                            var pSpan = $(this).parent();
                            pSpan.find(".del").remove(); // x아이콘의 중복을 방지 하기 위해 기존 x아이콘 제거
                            pSpan.append("<span class='del'>x</span>"); // x아이콘 추가
                            $(this).attr("src", URL.createObjectURL(file));
                            $(this).removeClass("noImg");
                            $(this).addClass("yesImg");
                            arrDel = arrDel.filter(function(item) { // n번째 input에 제거된 파일이 있다면, 제거 되었다는 값을 저장한 배열에서 n번째 값 제거
                                return item !== num;
                            });
                            formData.append(strImage, file)
                            return false;
                        });
                    });
                }
            }
            previewImg();
        });

        /**************************** 이미지 스크립트 ****************************/

        // 큰 미리보기 이미지 출력 (추가되는 이미지 중에 가장 앞에 있는 이미지 띄우기)
        function previewImg(){
            var defaultSrc="/displayFile?fullName=/icon/add.png";
            $(".click_img").each(function (){
                if($(this).attr("src")!=defaultSrc){
                    $("#preview_img").attr("src", $(this).attr("src"));
                    return false;
                }else{
                    $("#preview_img").attr("src", defaultSrc);
                }
            });
        }

        // 개별 이미지 첨부 시
        $(".file_img").on("change", function(){
            var img = $(this)[0].files[0]; // input file을 클릭한 뒤 첨부한 파일.
            //alert(img);
            var fNum = $(this).attr("num"); // input file 태그 안에 있는 attr("num")
            var strImg = "image"+fNum; // 나중에 formData로 보낼 key 이름 ex: image0, image1......
            formData.delete(strImg); // 새로 첨부하면 해당 key와 value를 formData에서 삭제.
            if(img==null){ // input file을 클릭한 뒤, 첨부하지 않고 취소를 누르면 첨부파일이 날아감.
                $(".click_img").each(function(){ // 클릭하는 미리보기 img 태그 each문
                    var cNum = $(this).attr("num"); // 클릭하는 미리보기 img 태그 안에 있는 attr("num");
                    var pSpan = $(this).parent();
                    if(fNum == cNum) { // 첨부하지 않은 n번째 input file태그와 클릭하는 미리보기 img 태그의 순서가 일치할 때
                        pSpan.find(".del").remove(); // x 아이콘 지워주기
                        $(this).attr("src","/displayFile?fullName=/icon/add.png"); // 미리보기의 화면 default로 바꿔주기

                        $(this).addClass("noImg");
                        $(this).removeClass("yesImg");
                    }
                });
            }else{ // input file에 첨부파일을 선택하면,
                $(".click_img").each(function(){
                    var cNum = $(this).attr("num");
                    var pSpan = $(this).parent();
                    if(fNum == cNum) {
                        pSpan.find(".del").remove(); // x아이콘의 중복을 방지 하기 위해 기존 x아이콘 제거
                        $(this).attr("src", URL.createObjectURL(img)); // 미리보기용 url만들어서 src 값에 적용
                        $(this).attr("fileName", img.name); // 미리보기 img태그안에 fileName이라는 attr 추가 (첨부한 파일명)
                        pSpan.append("<span class='del'>x</span>"); // x아이콘 추가
                        arrDel = arrDel.filter(function(item) { // n번째 input에 제거된 파일이 있다면, 제가 되었다는 값을 저장한 배열에서 n번째 값 제거
                            return item !== cNum;
                        });
                        $(this).addClass("yesImg");
                        $(this).removeClass("noImg");
                    }
                });
            }
            previewImg();
            formData.append(strImg, img); // formData에 첨부한 파일 추가
        });

        // 미리보기 이미지 클릭 시
        $(".click_img").on("click", function(){
            var cNum = $(this).attr("num");
            $(".file_img").each(function(){
                var fNum = $(this).attr("num");
                if(cNum == fNum) {
                    $(this).click();
                }
            });
        });

        // 미리보기 이미지 제거
        $(frm).on("click", ".del", function(){
            var pSpan = $(this).parent();
            var cNum = pSpan.find(".click_img").attr("num");
            pSpan.find(".click_img").attr("src","/displayFile?fullName=/icon/add.png");
            pSpan.find(".click_img").removeAttr("fileName");
            $(this).remove();
            var strImg="";
            $(".file_img").each(function(){
                var fNum = $(this).attr("num");
                if(cNum==fNum){
                    strImg = "image"+fNum;
                }
                $(this).attr("src", "/displayFile?fullName=/icon/add.png");
            });
            pSpan.find(".click_img").addClass("noImg");
            pSpan.find(".click_img").removeClass("yesImg");
            arrDel.push(cNum);
            formData.delete(strImg);
            previewImg();
        });

        $("#console").on("click", function(){
            console.log("arrDel="+arrDel);

            // key 확인하기
            for (var key of formData.keys()) {
                console.log(key);
            }

            // value 확인하기
            for (var value of formData.values()) {
                console.log(value);
            }

        });

        //이미지 삭제
        function deleteImage(fullName){
            $.ajax({
                type:"get",
                url:"/deleteFile",
                data:{"fullName":fullName},
                async:false,
                success:function(){}
            });
        }

        // 이미지 업로드
        function uploadImage(){
            $.ajax({
                type:"post",
                url:"/uploadFile",
                enctype:'multipart/form-data',
                processData:false,
                contentType:false,
                async:false,
                data:formData,
                success:function(data){
                    //console.log(data);
                    var arrData=new Array(data.img1, data.img2, data.img3, data.img4, data.img5);
                    var arrInput = new Array();
                    var arrRemain=new Array(); // arrInput에 들어가지 못하고 남겨진 return data (arrInput이 뿌려진 후에 뿌려질 예정)

                    $(".noVal").each(function(){ // 이미지가 지워지거나 변경되어서 input 값이 ""인 hidden-input
                        var num=$(this).attr("num");
                        for(i=0; i<arrData.length; i++){
                            if(arrData[i]!="" && arrData[i]!=null){
                                if(num==i){  //새로 업로드 된 이미지의 순번과, 지워진 input상자의 순번이 같으면
                                    arrInput.push(arrData[i]);
                                }
                            }
                        }
                    });

                    // arrInput에 들어가지 않은 값들을 arrRemain 배열에 push
                    arrData.forEach(function (arg){
                        if(arg!="" && arg!=null){
                            for(i=0; i<arrInput.length; i++){
                                if(arg!=arrInput[i]){
                                    arrRemain.push(arg);
                                    return false;
                                }
                            }
                        }
                    });

                    /* 삭제 하지 않고 남겨둔 이미지 파일명 배열에 담아두기 */
                    $(".original_img").each(function(){ // 파일명을 담아둔 input
                        var num = $(this).attr("num"); // input의 index (순서)
                        if($(this).val()!="") { //  input에 값이 있다면,
                            arrInput.push($(this).val()); // 값을 새로운 배열에 담아두기
                        }
                        $(this).val(""); //  input 값 제거
                    });

                    /* 남겨진 파일명을 담아둔 배열의 값을 다시 input에 담아주기 (순서대로 정렬하기 위함) */
                    $(".original_img").each(function(){
                        var num = $(this).attr("num");
                        for(i=0; i<arrInput.length; i++){
                            if(num==i) { // 배열의 index와 input에 순서에 맞춰서 배열 값 input에 넣어주기
                                $(this).val(arrInput[i])
                            }
                        }
                    });

                    /* 파일 업로드 후 return된 파일명을 비어있는 input에 담아주기 */
                    arrRemain.forEach(function (arg){
                        $(".original_img").each(function(){
                            if($(this).val()==""){
                                $(this).val(arg);
                                return false;
                            }
                        });
                    });

                    // arrData.forEach(function (arg){
                    //     $(".original_img").each(function(){
                    //         if($(this).val()==""){
                    //             $(this).val(arg);
                    //             return false;
                    //         }
                    //     });
                    // });

                }
            });
        }

        /**************************** 브랜드 스크립트 ****************************/

        getBrandList();

        // 선택한 브랜드 campaign 수정 화면에 넣어주기
        $("#brand_add").on("click", function(){
            var brand_seq = $("input:radio[name='brand']:checked").attr("brand_seq");
            var brand_name = $("input:radio[name='brand']:checked").attr("brand_name");
            if(brand_name==null){
                alert("브랜드를 선택해주세요");
                return;
            }
            $("#brand_seq").val(brand_seq);
            $("#brand_name").val(brand_name);
        });

        $("#brand_keyword").on("keydown", function(e){
            if(e.keyCode==13) {
                $("#brand_search").click();
            }
        });

        $("#brand_search").on("click", function(){
            getBrandList();
        });

        // keyup 시 문자간 공백(spaceBar) 제거
        $("#brand_keyword").on("keyup", function(){
            var before_keyword=$("#brand_keyword").val();
            var after_keyword=noBlank(before_keyword);
        })

        // 띄어쓰기(blank-공백) 제거 function (중복 키워드 검색 필터링 시 공백으로 인한 예외 방지)
        function noBlank(before_keyword){
            var after_keyword=before_keyword.replaceAll(" ", "");
            $("#brand_keyword").val(after_keyword);
            return after_keyword;
        }

        // 브랜드 추가
        $("#brand_insert").on("click", function(){
            var brand_name = $("#brand_keyword").val();
            if(brand_name==""){
                alert("브랜드명/프로젝트명을 입력하세요");
                return;
            }
            var duplicateChk=duplicate_check(brand_name);

            if(duplicateChk!=0){
                alert("입력하신 키워드는 이미 존재합니다.");
                $("#brand_search").click();
                return;
            }else{

                if(!confirm(brand_name+"을(를) 추가하시겠습니까?")) return;

                $.ajax({
                    type:"post",
                    url:"/admin/api/brand/insert",
                    data:
                        {
                            "brand_name":brand_name
                        },
                    success:function(){
                        $("#brand_keyword").val("");
                        getBrandList();
                    }
                });
            }
        });

        // 브랜드 리스트 불러오기
        function getBrandList(){
            var brand_keyword = $("#brand_keyword").val();
            $.ajax({
                type:"get",
                url:"/admin/api/brand/list",
                data:
                    {
                        "keyword":brand_keyword
                    },
                success:function(data){
                    var template=Handlebars.compile($("#brand_list_script").html());
                    $("#brand_list_div").html(template(data));
                }
            });
        };

        // 브랜드/프로젝트 중복 검사 function
        function duplicate_check(brand_name){
            var chk=0;
            $.ajax({
                type:"get",
                url:"/admin/api/brand/list",
                data:{"keyword":""},
                async:false,
                success:function(data){
                    console.log(data);
                    for(i=0; i<data.length; i++){
                        var data_name=data[i].brand_name.replaceAll(" ", "");
                        console.log(data_name);
                        if(brand_name==data_name){
                            chk++;
                            return false;
                        }
                    }
                }
            });
            return chk;
        }

    </script>
</th:block>
</body>
</html>