<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/userLayout}">
<head>
    <title>RESET PASSWORD</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
</head>
<body>
<th:block layout:fragment="content">
    <div class="auto">
        <div id="body" class="login-page-wrap">
            <div class="d-none"><h1>PASSWORD_mail (/password_mail.html)</h1></div>
            <div>
                <div id="pass_form" >
                    <div id="pass" class="login-id-title">
                        <div>Password</div>
                        <input type="password" class="big-text no-border" name="member_pass" id="member_pass" placeholder="Enter your password"/>
                        <div class="pass-form-notice">
                            <span id="pass_condition" style="color:red;">※ Use 8 to 16 English characters use uppercase and lowercase letters, numbers, special characters.</span>
                        </div>
                    </div>

                    <div id="pass-check" class="input-h50r login-id-title">
                        <div>Password (repeat)</div>
                        <input type="password" class="big-text no-border" id="member_pass_conf" placeholder="Enter your password repeat">
                        <div class="pass-form-notice">
                            <span id="pass-confirm_prompt"></span>
                        </div>
                    </div>
                </div>

                <div class="loginP-loginBtn">
                    <button id="saveBtn">Save</button>
                </div>

            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var chkPass = false;
        var chkPassConf=false;
        let certification_code = [[${certification_code}]];
        let mId="";
        let cSeq="";

        fnCertification();


        // 비밀번호 체크
        $("#member_pass").on("keyup", function(e) {
            var pass = $("#member_pass").val();
            var passcf = $("#member_pass_conf").val();

            if(chkSpecial(pass) && checkNum(pass) && checkEngUp(pass) && checkEngDown(pass) && chklength(pass)){
                chkPass=true;
                $("#pass_condition").css("color","green");
            }else{
                chkPass=false;
                $("#pass_condition").css("color","red");
            }

            if (pass == passcf) {
                chkPassConf=true;
            }
            if (pass == "") {
                chkPass=false;
            }
            if (pass != passcf) {
                chkPassConf=false;
            }
        });

        $("#member_pass").on("click", function(){
            var pass = $("#member_pass").val();
            if(chkSpecial(pass) && checkNum(pass) && checkEngUp(pass) && checkEngDown(pass) && chklength(pass)){
                chkPass=true;
                $("#pass_condition").css("color","green");
            }else{
                $("#pass_condition").css("color","red");
                chkPass=false;
            }
        });

        $("#member_pass_conf").on("keyup", function(e) {
            var pass = $("#member_pass").val();
            var passcf = $("#member_pass_conf").val();

            if (pass == passcf) {
                chkPassConf=true;
            }else{
                chkPassConf=false;
            }
        });

        // 인증 번호 확인
        function fnCertification() {
            $.ajax({
                type:"get",
                url:"/common/api/certification",
                data:{
                    "certification_code":certification_code
                },
                success:function(data) {
                    let result = data.result;
                    let certificationInfo = data.certificationInfo;
                    // console.log(data);
                    if(result==0) {
                        alert("This code is invalid.");
                        location.href="/";
                    }else {
                        mId = certificationInfo.member_id;
                        cSeq = certificationInfo.certification_seq;
                    }
                }
            });
        }

        $("#saveBtn").on("click", function(){
            var mpw = $("#member_pass").val();
            var mpwConf = $("#member_pass_conf").val();

            if(mpw==""){
                alert("Enter your password");
                return;
            }
            if(mpwConf=="") {
                alert("Enter repeat password");
                return;
            }
            if(!chkPass) {
                alert("※ Use 8 to 16 English characters use uppercase and lowercase letters, numbers, special characters.");
                return;
            }
            if(!chkPassConf) {
                alert("Password and repeat password must be matched");
                return;
            }

            $.ajax({
                type:"post",
                url:"/common/api/member/reset/password",
                data:{
                    "member_id":mId,
                    "npw":mpw,
                    "certification_seq":cSeq
                },
                success:function(data){
                    if(data==1) {
                        alert("Password reset was successful.");
                        location.href="/";
                    }else if(data==0) {
                        alert("Password reset failed.\n※ Contact Adtool admin.");
                        location.reload();
                    }else if(data==2) {
                        alert("This email has been withdrawn.");
                        location.reload();
                    }
                },
                error:function(){
                    console.log("ajax error: reset password");
                }
            });
        });


        // 특수 문자 체크
        function chkSpecial(str) {
            var special_pattern = (/[`~!@#$%^&*|\\\'\";:\/?]/gi);
            if (special_pattern.test(str) == true) {
                return true;
            } else {
                return false;
            }
        }

        // 숫자 체크
        function checkNum(str) {
            const regExp = /[0-9]/;
            if (regExp.test(str)) {
                return true;
            } else {
                return false;
            }
        }

        // 대문자 체크
        function checkEngUp(str) {
            const regExp = /[A-Z]/;
            if (regExp.test(str)) {
                return true;
            } else {
                return false;
            }
        }

        // 소문자 체크
        function checkEngDown(str) {
            const regExp = /[a-z]/;
            if (regExp.test(str)) {
                return true;
            } else {
                return false;
            }
        };

        // 글자 수 체크
        function chklength(str) {
            if(str.length>=8 && str.length<=16){
                return true;
            }
            else{
                return false;
            }
        }
    </script>
</th:block>
</body>

</html>